<div>
  It is <span class="text-lowercase"><%= weather_presenter.description %></span>
  <img src=<%= weather_presenter.icon %>>
  in <%= weather_presenter.location %> with
  <%= weather_presenter.temperature %> °C temperature
  and today's tip is: <br>
  <p class="text-center">"<em><%= weather_presenter.encourage_text %></em>"</p>
</div>
